<div id="portfolio" class="container-fluid" style="padding-top: 70px">
	<div class="row justify-content-center">
		<p class="h2"><strong><span class="underline">Portfolio</span></strong></p>
	</div>
	<div class="section-padding justify-content-center">
		<div class="container">
			<div class="row">
				<div class="col">
					<img class="image" src="./assets/travelling/victoria_front.jpg">
					<div class="middle">
						<div class="text">Victoria Palace</div>
					</div>
				</div>
				<div class="col">
					<img class="image" src="./assets/travelling/lake_view.jpg">
					<div class="middle">
						<div class="text">Lake View</div>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col">
					<img class="image" src="./assets/travelling/rajasthan_hackathon.jpg">
					<div class="middle">
						<div class="text">Rajasthan Hackathon</div>
					</div>
				</div>
				<div class="col">
					<img class="image" src="./assets/travelling/tiger.jpg">
					<div class="middle">
						<div class="text">Bannerghatta National Park</div>
					</div>
				</div>				
			</div>
			<br>
			<div class="row">
				<div class="col">
					<img class="image" src="./assets/travelling/victoria.jpg">
					<div class="middle">
						<div class="text">Victoria Front</div>
					</div>
				</div>
				<div class="col">
					<img class="image" src="./assets/travelling/environment.jpg">
					<div class="middle">
						<div class="text"><strong>Cauvery Calling !</strong></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>