<div id="about-me" class="container-fluid" style="padding-top: 70px">
	<div class="row justify-content-center">
		<p class="h2"><strong><span class="underline">About Me</span></strong></p>
	</div>
	<div class="container section-padding">
		<div class="row">
			<div class="col">
				<div class="mx-auto">
					<p class="about-font">
						<strong>I am a software engineer by profession with a strong focus on Data Structures, Algorithms and System Design. I love to get new experiences and always learn from my surroundings. <br>
						You can find me on <a href="https://www.hackerrank.com/lokeshpandey">HackerRank</a> and <a href="https://stackoverflow.com/users/3548035/lokesh-pandey">StackOverflow</a>.
						I look forward to any new opportunities and challenges.<br>
						Apart from my professional work,  I care about children rights and environments. I have made contribution to more than twenty trees in cauvery calling campaign.</strong>
					</p>
				</div>
			</div>
		</div>
		<div class="row" style="padding-top: 50px;">
			<div class="col-md">
				<div class="row">
					<div class="circle-box">
						<svg>
							<circle r = "95" cx = "100" cy = "100" />
							<circle r = "95" cx = "100" cy = "100" />
						</svg>
						<span class="align">95%</span>
					</div>
				</div>
				<div class="row title row-width">
					<div class="col center-block text-center">
						<strong>DS & Algo</strong>
					</div>
				</div>
			</div>
			<div class="col-md">
				<div class="row">
					<div class="circle-box">
						<svg>
							<circle r = "95" cx = "100" cy = "100" />
							<circle r = "95" cx = "100" cy = "100" />
						</svg>
						<span class="align">95%</span>
					</div>
				</div>
				<div class="row title row-width">
					<div class="col center-block text-center">
						<strong>System Design</strong>
					</div>
				</div>
			</div>
			<div class="col-md">
				<div class="row">
					<div class="circle-box">
						<svg>
							<circle r = "95" cx = "100" cy = "100" />
							<circle r = "95" cx = "100" cy = "100" />
						</svg>
						<span class="align">95%</span>
					</div>
				</div>
				<div class="row title row-width">
					<div class="col center-block text-center">
						<strong>Java</strong>
					</div>
				</div>
			</div>
			<div class="col-md">
				<div class="row">
					<div class="circle-box">
						<div>
							<svg>
								<circle r = "95" cx = "100" cy = "100" />
								<circle r = "95" cx = "100" cy = "100" />
							</svg>
							<span class="align">95%</span>
						</div>
					</div>
				</div>
				<div class="row title row-width">
					<div class="col center-block text-center">
						<strong>Spring Boot</strong>
					</div>
				</div>
			</div>
		</div>
		<div class="row" style="padding-top: 100px;">
			<blockquote><p class="h3"><strong>Do more than is required. What is the distance between someone who achieves their goals consistently and those who spend their lives and careers merely following? The extra mile.</strong></p>
			<p><strong> - Kyros Noriaki</strong></p>
			</blockquote>
		</div>
	</div>
</div>